# Redirect HTTP ke HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# ------------------------------------------------------------------------------
# DIRECTORY INDEX (file yang dimuat saat akses root)
# ------------------------------------------------------------------------------
DirectoryIndex index.html

# ------------------------------------------------------------------------------
# REDIRECT URL LAMA KE URL BARU
# ------------------------------------------------------------------------------

# Beranda (redirect ke root)
Redirect 301 /index.html https://agungperkasaborepile.com/
Redirect 301 /beranda.html https://agungperkasaborepile.com/